.footer-container{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

p{
    font-family: cursive;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-top: 130PX;
   padding: 35px;
}