
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(140deg, rgb(9, 9, 161), rgb(146, 146, 153));
}

.calculator{
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  background-color: white;
}
.button{
  display: grid;
  grid-template-columns: repeat(5, 60PX);
  gap: 5PX;
}
.form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(20, 20, 75);
  color: white;
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  font-weight: bolder;
cursor: pointer;
}
.form .input:hover{
  background-color: blue;
}
.form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
.form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 15px;
  background-color: rgb(128, 124, 124);
}
.form input.equal{
  width:123px;
}

.main{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  background:linear-gradient(140deg, rgb(48, 48, 219), rgb(48, 48, 223))
}


.input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(20, 20, 75);
  color: white;
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  font-weight: bolder;
cursor: pointer;
}
.B:hover{
  background-color: blue;
}





































.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

